{% load static %}
<section class="name-animation">
    <div id="particles-js">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 section-align">
                <div class="text-box">
                    <h1>I'm <br><span class="name-main">irshad ziob</span><br><span class="auto-input"></span> </h1>
                    <p>you can reach out to me if you need any help in making a websites for you or your bussiness. </p>
                    <a href="">Contact Me</a>
                    <a href="" class="btn">Resume</a>
                </div>
            </div>
            <div class="col-12 col-md-6 for-mobile">
               <img class="irshad" src="{% static 'images/irshad.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
