{% load static %}

<header>
    <div class="container">
        <div class="row">
            <div class="col-6 logo">
                <h1>ZIOB</h1>
                </div>
                <div class="col-6">


                <button class="menu-icon" type="button">
                    <span class="menu-icon-box">
                        <span class="menu-icon-inner"></span>
                    </span>
                </button>
            </div>


            <div class="menu">
                <div class="menu-inner">
                    <ul>
                        <li><a href="#"> Home</a></li>
                        <li><a href="#about"> About</a></li>
                        <li><a href=""> Portfolio</a></li>
                        <li><a href="#contact"> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>